<div class="navbar-cg">
  <!-- Logo -->
  <div class="logo-header">
    <div class="hidden-xs">
      <%= link_to root_path, class: "navbar-cg-brand-small" do %>
        <%= image_tag "commongroundlogoblack.png" %>
      <% end %>
    </div>
    <div class="hidden-sm hidden-md hidden-lg">
      <%= link_to root_path, class: "navbar-cg-brand-big" do %>
        <%= image_tag "commongroundlogoblack.png" %>
      <% end %>
    </div>
  </div>


  <div class="nav">
    <div class="nav-desktop-links hidden-xs">
      <div class="nav-social navbar-cg-item">
        <a href="#" id="social-space"><i class="fa fa-instagram"></i></a>
        <a href="#" id="social-space"><i class="fa fa-facebook-square"></i></a>
      </div>
      <div>
      <%= link_to "LOOKBOOK", lookbook_path, class: "navbar-cg-item navbar-cg-link" %>
      </div>
      <div class="cg-center-text">
      <%= link_to "COMMON GROUND", about_path, class: "navbar-cg-item navbar-cg-link" %>
      </div>
      <div>
      <%= link_to "SHOP", products_path, class: "navbar-cg-item navbar-cg-link" %>
      </div>



      <!-- Right Navigation -->
      <div class="navbar-cg-right hidden-xs">

        <% if user_signed_in? %>

          <!-- Links when logged in -->
          <%= link_to "My account", "#", class: "navbar-cg-item navbar-cg-link" %>

          <!-- Avatar with dropdown menu -->
          <div class="navbar-cg-item">
            <div class="dropdown">
              <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-cg-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-cg-dropdown-menu">
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% else %>
          <!-- Login link (when logged out) -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-cg-item navbar-cg-link" %>
        <% end %>
      </div>

    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-cg-item hidden-md hidden-lg hidden-sm dropdown-position-helper">
      <div class="dropdown text-center">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-cg-dropdown-menu">
          <!-- <li><a href="#">About CG</a></li> -->
          <li>
            <%= link_to "Shop", products_path, class: "navbar-cg-item navbar-cg-link" %>
          </li>
          <li>
            <%= link_to "Lookbook", lookbook_path, class: "navbar-cg-item navbar-cg-link" %>
          </li>
          <li>
            <%= link_to "About CG", about_path, class: "navbar-cg-item navbar-cg-link" %>
          </li>
          <li>
            <%= link_to "My account", "#", class: "navbar-cg-item navbar-cg-link" %>
          </li>
        </ul>
      </div>
    </div>

  </div>


</div>

